<h2>All Tasks</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Subject</th>
        <th>Priority</th>
        <th>Severity</th>
        <th>Assignee</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks"
    [class.selected]="task === selectedTask"
    (click)="onSelect(task)">
      <td>{{task.id}}</td>
    <td>{{task.subject}}</td>
    <td>{{Priority[task.priority]}}</td>
    <td>{{Severity[task.severity]}}</td>
    <td>{{task.assignee}}</td>
    </tr>
     
    </tbody>
  </table>
</div>

<hm-task-detail [task]="selectedTask"></hm-task-detail>

