<h2>All Tasks</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Subject</th>
        <th>Priority</th>
        <th>Severity</th>
        <th>Assignee</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks" [class.selected]="task === selectedTask" (click)="onSelect(task)">
        <td>
          <a routerLink="/task/{{task.id}}">
            <span>{{task.id}}</span>
          </a>
        </td>
        <td>
            <a routerLink="/task/{{task.id}}">
              <span>{{task.subject}}</span>
            </a>
          </td>
        <td>{{Priority[task.priority]}}</td>
        <td>{{Severity[task.severity]}}</td>
        <td>{{task.assignee}}</td>
        <td>
          <button type="button" class="btn btn-info .btn-xs" title="edit task" (click)="edit(task)">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger .btn-xs" title="delete task" (click)="delete(task)">
            <i class="fa fa-remove"></i>
          </button>
          <button type="button" class="btn btn-success .btn-xs" title="complete task" (click)="complete(task)">
            <i class="fa fa-check"></i>
          </button>
        </td>
      </tr>

    </tbody>
  </table>
</div>
